.my-game .progress {
    height: 40px;
}
.my-game .progress-bar {
    line-height: 40px;
}
.my-game ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.control {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}
.my-game .alert:last-child {
    margin-bottom: 0;
}
.my-game .success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}